html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, ul, ol, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'aller_displayregular';
  src: url("/Fonts/allerdisplay-webfont.eot");
  src: url("/Fonts/allerdisplay-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/allerdisplay-webfont.woff2") format("woff2"), url("/Fonts/allerdisplay-webfont.woff") format("woff"), url("/Fonts/allerdisplay-webfont.ttf") format("truetype"), url("/Fonts/allerdisplay-webfont.svg#aller_displayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'allerbold';
  src: url("/Fonts/aller_bd-webfont.eot");
  src: url("/Fonts/aller_bd-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/aller_bd-webfont.woff2") format("woff2"), url("/Fonts/aller_bd-webfont.woff") format("woff"), url("/Fonts/aller_bd-webfont.ttf") format("truetype"), url("/Fonts/aller_bd-webfont.svg#allerbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aller_lightitalic';
  src: url("/Fonts/aller_ltit-webfont.eot");
  src: url("/Fonts/aller_ltit-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/aller_ltit-webfont.woff2") format("woff2"), url("/Fonts/aller_ltit-webfont.woff") format("woff"), url("/Fonts/aller_ltit-webfont.ttf") format("truetype"), url("/Fonts/aller_ltit-webfont.svg#aller_lightitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aller_lightregular';
  src: url("/Fonts/aller_lt-webfont.eot");
  src: url("/Fonts/aller_lt-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/aller_lt-webfont.woff2") format("woff2"), url("/Fonts/aller_lt-webfont.woff") format("woff"), url("/Fonts/aller_lt-webfont.ttf") format("truetype"), url("/Fonts/aller_lt-webfont.svg#aller_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0 auto;
  padding: 15px 25px;
  max-width: 1024px;
  font-family: aller_lightregular;
  color: #454545; }
  @media (min-width: 767px) {
    body {
      padding: 40px 50px; } }

h1, h2, h3, h4 {
  color: #115766; }

h1.jumbo {
  font-size: 5em; }

#topbar #contact-list {
  visibility: hidden; }
  @media (min-width: 767px) {
    #topbar #contact-list {
      visibility: inherit; } }
  #topbar #contact-list li {
    background-image: url("/Images/icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -10px 0px;
    padding-left: 35px;
    list-style-type: none;
    line-height: 1.8em; }
  #topbar #contact-list li.web {
    background-position: -10px -2px; }
  #topbar #contact-list li.email {
    background-position: -10px -72px; }

/* Utility classes */
.fl {
  float: left; }

.fr {
  float: right; }

.cb {
  clear: both; }
