html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, ul, ol, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'aller_displayregular';
  src: url("/Fonts/allerdisplay-webfont.eot");
  src: url("/Fonts/allerdisplay-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/allerdisplay-webfont.woff2") format("woff2"), url("/Fonts/allerdisplay-webfont.woff") format("woff"), url("/Fonts/allerdisplay-webfont.ttf") format("truetype"), url("/Fonts/allerdisplay-webfont.svg#aller_displayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'allerbold';
  src: url("/Fonts/aller_bd-webfont.eot");
  src: url("/Fonts/aller_bd-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/aller_bd-webfont.woff2") format("woff2"), url("/Fonts/aller_bd-webfont.woff") format("woff"), url("/Fonts/aller_bd-webfont.ttf") format("truetype"), url("/Fonts/aller_bd-webfont.svg#allerbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aller_lightitalic';
  src: url("/Fonts/aller_ltit-webfont.eot");
  src: url("/Fonts/aller_ltit-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/aller_ltit-webfont.woff2") format("woff2"), url("/Fonts/aller_ltit-webfont.woff") format("woff"), url("/Fonts/aller_ltit-webfont.ttf") format("truetype"), url("/Fonts/aller_ltit-webfont.svg#aller_lightitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aller_lightregular';
  src: url("/Fonts/aller_lt-webfont.eot");
  src: url("/Fonts/aller_lt-webfont.eot?#iefix") format("embedded-opentype"), url("/Fonts/aller_lt-webfont.woff2") format("woff2"), url("/Fonts/aller_lt-webfont.woff") format("woff"), url("/Fonts/aller_lt-webfont.ttf") format("truetype"), url("/Fonts/aller_lt-webfont.svg#aller_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0 auto;
  padding: 15px 25px;
  max-width: 1024px;
  font-family: aller_lightregular, sans-serif;
  color: #454545; }
  @media (min-width: 37.5em) {
    body {
      padding: 40px 50px; } }

h1, h2, h3, h4 {
  color: #5aa1ac;
  font-weight: 100; }

h1.jumbo {
  font-size: 5em; }

a, a:hover, a:visited {
  color: #115766;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#topbar #contact-list li {
  background-image: url("/Images/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: -10px 0px;
  padding-left: 35px;
  list-style-type: none;
  line-height: 1.8em; }

#topbar #contact-list li.web {
  background-position: -11px 0px; }

#topbar #contact-list li.email {
  background-position: -10px -72px; }

hr.soft-break {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(90, 161, 172, 0.5); }

img.me-image {
  width: 110px;
  margin: -6px 20px 0 0;
  border-radius: 62px;
  border: rgba(90, 161, 172, 0.5) 6px solid; }

div#col-left {
  width: 100%;
  position: relative; }
  @media (min-width: 50em) {
    div#col-left {
      float: left;
      width: 70%;
      padding-left: 130px; } }

div#col-right {
  width: 100%; }
  @media (min-width: 50em) {
    div#col-right {
      float: left;
      width: 30%; } }

div.past-job {
  margin-top: 15px;
  position: relative; }
  div.past-job h2, div.past-job h3 {
    color: #454545; }
  div.past-job .job-title {
    font-family: allerbold; }

div.tag-year {
  display: none; }
  @media (min-width: 50em) {
    div.tag-year {
      display: inherit;
      position: absolute;
      top: 5px;
      left: -80px; } }

div.skill ul:nth-child(1) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

div.skill ul:nth-child(1) li.y:nth-of-type(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

div.skill ul:nth-child(1) li.y:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

div.skill ul:nth-child(1) li.y:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

div.skill ul:nth-child(1) li.y:nth-of-type(5) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

div.skill ul:nth-child(2) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

div.skill ul:nth-child(2) li.y:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

div.skill ul:nth-child(2) li.y:nth-of-type(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

div.skill ul:nth-child(2) li.y:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

div.skill ul:nth-child(2) li.y:nth-of-type(5) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

div.skill ul:nth-child(3) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

div.skill ul:nth-child(3) li.y:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

div.skill ul:nth-child(3) li.y:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

div.skill ul:nth-child(3) li.y:nth-of-type(4) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

div.skill ul:nth-child(3) li.y:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

div.skill ul:nth-child(4) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

div.skill ul:nth-child(4) li.y:nth-of-type(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

div.skill ul:nth-child(4) li.y:nth-of-type(3) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

div.skill ul:nth-child(4) li.y:nth-of-type(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

div.skill ul:nth-child(4) li.y:nth-of-type(5) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

div.skill ul:nth-child(5) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

div.skill ul:nth-child(5) li.y:nth-of-type(2) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

div.skill ul:nth-child(5) li.y:nth-of-type(3) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

div.skill ul:nth-child(5) li.y:nth-of-type(4) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

div.skill ul:nth-child(5) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

div.skill ul:nth-child(6) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

div.skill ul:nth-child(6) li.y:nth-of-type(2) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

div.skill ul:nth-child(6) li.y:nth-of-type(3) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

div.skill ul:nth-child(6) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

div.skill ul:nth-child(6) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }

div.skill ul:nth-child(7) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

div.skill ul:nth-child(7) li.y:nth-of-type(2) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

div.skill ul:nth-child(7) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

div.skill ul:nth-child(7) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }

div.skill ul:nth-child(7) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

div.skill ul:nth-child(8) li.y:nth-of-type(1) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

div.skill ul:nth-child(8) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

div.skill ul:nth-child(8) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }

div.skill ul:nth-child(8) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

div.skill ul:nth-child(8) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

div.skill ul:nth-child(9) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

div.skill ul:nth-child(9) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }

div.skill ul:nth-child(9) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

div.skill ul:nth-child(9) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

div.skill ul:nth-child(9) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

div.skill ul:nth-child(10) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s; }

div.skill ul:nth-child(10) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

div.skill ul:nth-child(10) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

div.skill ul:nth-child(10) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

div.skill ul:nth-child(10) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

div.skill ul:nth-child(11) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

div.skill ul:nth-child(11) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

div.skill ul:nth-child(11) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

div.skill ul:nth-child(11) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

div.skill ul:nth-child(11) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }

div.skill ul:nth-child(12) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

div.skill ul:nth-child(12) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

div.skill ul:nth-child(12) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

div.skill ul:nth-child(12) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }

div.skill ul:nth-child(12) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

div.skill ul:nth-child(13) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

div.skill ul:nth-child(13) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

div.skill ul:nth-child(13) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }

div.skill ul:nth-child(13) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

div.skill ul:nth-child(13) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

div.skill ul:nth-child(14) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

div.skill ul:nth-child(14) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }

div.skill ul:nth-child(14) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

div.skill ul:nth-child(14) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

div.skill ul:nth-child(14) li.y:nth-of-type(5) {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s; }

div.skill ul:nth-child(15) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }

div.skill ul:nth-child(15) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

div.skill ul:nth-child(15) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

div.skill ul:nth-child(15) li.y:nth-of-type(4) {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s; }

div.skill ul:nth-child(15) li.y:nth-of-type(5) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

div.skill ul:nth-child(16) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

div.skill ul:nth-child(16) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

div.skill ul:nth-child(16) li.y:nth-of-type(3) {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s; }

div.skill ul:nth-child(16) li.y:nth-of-type(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

div.skill ul:nth-child(16) li.y:nth-of-type(5) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

div.skill ul:nth-child(17) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

div.skill ul:nth-child(17) li.y:nth-of-type(2) {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s; }

div.skill ul:nth-child(17) li.y:nth-of-type(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

div.skill ul:nth-child(17) li.y:nth-of-type(4) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

div.skill ul:nth-child(17) li.y:nth-of-type(5) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s; }

div.skill ul:nth-child(18) li.y:nth-of-type(1) {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s; }

div.skill ul:nth-child(18) li.y:nth-of-type(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

div.skill ul:nth-child(18) li.y:nth-of-type(3) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

div.skill ul:nth-child(18) li.y:nth-of-type(4) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s; }

div.skill ul:nth-child(18) li.y:nth-of-type(5) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s; }

div.skill ul:nth-child(19) li.y:nth-of-type(1) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

div.skill ul:nth-child(19) li.y:nth-of-type(2) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

div.skill ul:nth-child(19) li.y:nth-of-type(3) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s; }

div.skill ul:nth-child(19) li.y:nth-of-type(4) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s; }

div.skill ul:nth-child(19) li.y:nth-of-type(5) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }

div.skill ul:nth-child(20) li.y:nth-of-type(1) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s; }

div.skill ul:nth-child(20) li.y:nth-of-type(2) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s; }

div.skill ul:nth-child(20) li.y:nth-of-type(3) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s; }

div.skill ul:nth-child(20) li.y:nth-of-type(4) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }

div.skill ul:nth-child(20) li.y:nth-of-type(5) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

div.skill ul {
  float: right;
  list-style-type: none; }
  div.skill ul li {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-right: 10px; }
  div.skill ul li.y {
    background: rgba(90, 161, 172, 0.5);
    -moz-animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -moz-animation-name: pop;
    -webkit-animation-name: pop;
    animation-name: pop;
    animation-timing-function: ease-in-out; }

@-webkit-keyframes pop {
  0% {
    transform: scale(0.1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@-moz-keyframes pop {
  0% {
    transform: scale(0.1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@-ms-keyframes pop {
  div.skill ul li.y 0% {
    transform: scale(0.1); }
  div.skill ul li.y 50% {
    transform: scale(1.3); }
  div.skill ul li.y 100% {
    transform: scale(1); } }

@keyframes pop {
  0% {
    transform: scale(0.1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }
  div.skill ul li.n {
    background: #ECF4F4; }

/* Utility classes */
.fl {
  float: left; }

.fr {
  float: right; }

.cb {
  clear: both; }

.accent-heavy {
  color: #115766; }

.accent-light {
  color: #5aa1ac; }

.not-phone {
  display: none; }
  @media (min-width: 37.5em) {
    .not-phone {
      display: inherit; } }
