@import 'reset';
@import 'fonts';
@import 'breakpoints';
$dark-blue: #115766;
$light-blue: rgb(90, 161, 172);
$light-blue-semi: rgba(90, 161, 172, 0.5);
$dark-grey: #454545;

body{
  margin: 0 auto;
  padding: 15px 25px;
  max-width: 1024px;
  font-family: aller_lightregular;
  color: $dark-grey;

  @include above(phone){
    padding: 40px 50px;
  }
}

h1, h2, h3, h4{
  color: $dark-blue;
}

h1.jumbo{
  font-size: 5em;
}

a, a:hover, a:visited{
  color: $dark-blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#topbar{
  #contact-list{
    li{
      background-image: url('/Images/icon-sprite.png');
      background-repeat: no-repeat;
      background-position: -10px 0px;
      padding-left: 35px;
      list-style-type: none;
      line-height: 1.8em;
    }
    li.web{background-position: -11px 0px;}
    li.email{background-position: -10px -72px;}
  }
}

hr.soft-break{
  width:100%;
  border:none;
  border-bottom: 1px solid $light-blue-semi;
}

img.me-image{
  width: 110px;
  margin: -6px 20px 0 0 ;
  border-radius: 62px;
  border: $light-blue-semi 6px solid;
}

div#col-left{
  width:100%;
  @include above(phone){
    width: 60%;
  }
}

div#col-right{
  width:100%;
  @include above(phone){
    width: 40%;
  }
}

/* Utility classes */
.fl{float: left;}
.fr{float:right;}
.cb{clear:both;}

.accent-heavy{
  color:$dark-blue;
}

.accent-light{
  color:$light-blue;
}

.not-phone{
  display:none;

  @include above(phone){
    display:inherit;
  }
}
