@import 'reset';
@import 'fonts';
@import 'breakpoints';
@import 'colors';

body{
  margin: 0;
  font-family: aller_lightregular, sans-serif;
  color: $dark-grey;
}

div#main-container{
  margin: 0 auto;
  padding: 15px 25px;
  max-width: 1024px;
  @include above(phone){
    padding: 40px 50px;
  }
}

h1, h2, h3, h4{
  color: $light-blue;
  font-weight: 100;
}

h1.jumbo{
  font-size: 5em;
}

a, a:hover, a:visited{
  color: $dark-blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#topbar{
  #contact-list{
    li{
      background-image: url('/Images/icon-sprite.png');
      background-repeat: no-repeat;
      background-position: -10px 0px;
      padding-left: 35px;
      list-style-type: none;
      line-height: 1.8em;
    }
    li.web{background-position: -11px 0px;}
    li.email{background-position: -10px -72px;}
  }
}

hr.soft-break{
  width:100%;
  border:none;
  border-bottom: 1px solid $light-blue-semi;
}

img.me-image{
  width: 110px;
  margin: -6px 20px 0 0 ;
  border-radius: 62px;
  border: $light-blue-semi 6px solid;
}

div#col-left{
  width:100%;
  position: relative;
  @include above(tablet){
    float:left;
    width: 70%;
    padding-left:130px;
  }
}

div#col-right{
  width:100%;
  @include above(tablet){
    float:left;
    width: 30%;
  }
}

div#col-left p, div#col-right p{
  width: 90%;
  margin: 10px 0;
}

div.timeline-entry{
  margin-top: 15px;
  position: relative;
  h2, h3{
    color:$dark-grey;
  }
  p.stack{
    font-style: italic;
    font-size: 0.8em;
  }
}

.heavyweight{
  font-family: allerbold;
}

div.tag-year{
  display: none;
  @include above(tablet){
    display: inherit;
    position: absolute;
    top: 5px;
    left:-150px;
  }
}

div.skill{

  ul{
    float:right;
    list-style-type: none;

    li{
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 5px;
      margin-right: 10px;
    }

    li.y{
      background: $light-blue-semi;
    }

    li.n{background: $light-grey;}
  }
}

#mobile-nav{
  position:fixed;
  bottom: 0;
  width: 100%;

  text-align: center;
  vertical-align: middle;
  ul{
    background: $light-light-grey;
    li{
      display: inline-block;
      height: 50px;
      width: 24%;
      border-left: 1px solid $dark-grey;
      a{
        color: $dark-grey;
        display: inline-block;
        margin-top: 15px;
      }
    }
    li:first-child{
      border: none;
      color:red;
    }
  }
}

/* Utility classes */
.fl{float: left;}
.fr{float:right;}
.cb{clear:both;}

.accent-heavy{
  color:$dark-blue;
}

.accent-light{
  color:$light-blue;
}

.not-phone{
  display:none;

  @include above(phone){
    display:inherit;
  }
}

.phone-only{
  @include above(phone){
    display:none;
  }
}
